
	<div class="modal fade create-newFaq" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content col-md-12">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><img src="images/icons/cross.png"></button>
			</div>
			<div class="modal-body">
				<span class="col-md-12">Your Question</span>
				<input class="col-md-12 question" type="text">
				<span class="col-md-12">Your Answer</span>
				<textarea class="col-md-12 answer" type="text"></textarea>
				<span class="col-md-12">Category</span>
				<select class="col-md-7 category">
						<option>Career</option>
						<option>Family</option>
						<option>Love-Relationship</option>
						<option>Friends</option>
						<option>Others</option>
				</select>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="add-detailBtn col-md-10 col-md-offset-1">CREATE</button>
			</div>
		</div>
	  </div>
	</div>