<div class="modal-dialog">
	<form class="editFaq-modal">
		<span>Question</span></br>
		<input type="text" name="question" class="edit-question"  value="{{question}}"></br></br>
		
		<span>Answer</span></br>
		<textarea class="edit-faq-answer" rows="7">{{answer}}</textarea></br>
	</form>
</div>