<div class="col-md-12">
	<div class="message-heading col-md-12 heading-padding heading-fonts">
			{{faqCategoryName}}
	</div>
	<div class="inbox-messages col-md-10 text-left">
		<div class="questions">
			
		</div>
	</div>
</div>