<div class="col-md-12 wel-message" role="tabpanel">
	<div class="inbox-message">
		<!-- Tab panes -->
		<div class="col-md-12">
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-12 client-header">
					<div class="search-box1">
						<span class="col-md-5"><img src="images/icons/small-faq.png">  &nbsp;&nbsp;MOST ASKED QUESTIONS</span>
						<input class="col-md-7" type="search" placeholder="Search">
					</div>
				</div>
				<div role="tabpanel" class="tab-pane active inbox " id="faqCategoryContainer">
				</div>
			</div>
		</div>
	</div>
</div>