<div class="col-md-12 wel-message" role="tabpanel">
	<div class="inbox-message">
		<!-- Tab panes -->
		<div class="col-md-12">
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-12 client-header">
					<div class="search-box1">
						<span class="col-md-4"><img src="images/icons/small-faq.png">  &nbsp;&nbsp;MOST ASKED QUESTIONS</span>
						{{#if admin}}
						<button type="button" class="btn col-md-2 new-create" data-toggle="modal" data-target=".create-newFaq">CREATE NEW</button>
						{{/if}}
						<div class="col-md-4 col-md-offset-1">
							<a href="javascript:void(0)" id="btn-prev"><img src="images/icons/previous.png">Previous</a>
							<a href="javascript:void(0)" id="btn-next">Next<img src="images/icons/next.png"></a>
						</div>
					</div>
					<!-- modal window-->
							<div class="modal fade create-newFaq" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content col-md-12">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><img src="images/icons/cross.png"></button>
									</div>
									<div class="modal-body">
										<span class="col-md-12">Your Question</span>
										<input class="col-md-12 question" type="text">
										<span class="col-md-12">Your Answer</span>
										<textarea class="col-md-12 new-answer" type="text"></textarea>
										<span class="col-md-12">Category</span>
										<select class="col-md-7 category">
												<option>Career</option>
												<option>Family</option>
												<option>Love-Relationship</option>
												<option>Friends</option>
												<option>Others</option>
										</select>
									</div>
									<div class="modal-footer text-center">
										<button type="button" id="btn-createFaq" class="add-detailBtn col-md-10 col-md-offset-1">CREATE</button>
									</div>
								</div>
							  </div>
							</div>
						<!-- modal-window ends -->
				</div>
				<div role="tabpanel" class="tab-pane active inbox " id="inbox">
				<div class="col-md-12">
					<div class="message-heading col-md-12 heading-padding heading-fonts">
							<div class="col-md-2">{{categoryName}}</div>
							{{#if admin}}
								<div class="col-md-offset-5 col-md-3 actionButtons">
									<button type="button" id="btn-editFaq" class="btn option-btn col-md-3 col-md-offset-4">Edit</button>
									<button type="button" id="btn-deleteFaq" class="btn option-btn col-md-3">Delete</button>
								</div>
							{{/if}}
					</div>
					<div class="inbox-messages col-md-10 text-left">
						<div class="answers">
							<div class="question-expanded">{{question}}</div>
							<div class="answer">{{answer}}</div>							
						</div>
					</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>