<div class="col-md-12 col-sm-12  counselor-card text-center card">
	<div class="card-head">
		<p>{{name}}</p>
	</div>
			<div class="clientPhoto">
				<!--<img src="images/avatar/{{avatar}}.png">-->
				<img src="images/avatar/{{avatar}}.png">
			</div>
			<div class="desc">
				<p>{{description}}</p>
			</div>
			
			<div class="discussTopics">
				<div class="text-left">
					<p>#Relationship #Career <br/>
					#Relationship #Career</p>		
				</div>
			</div>
			<div class="client-btn col-md-10">
				<div class="col-md-6 message-btn">
					<img src="images/icons/message.png">
					MESSAGE
				</div>
				<div class="col-md-6 chat-btn">
					CHAT
				</div>
			</div>
	
</div>