<div class="col-md-2 filters" id="filters">
	<p>Filters</p>
	<p class="tags">Tags</p>
	<ul class="filter-labels">
		<li class="radioBtn"><a href="#"><input id="radioBtn" type="checkbox" value="none" name="check"/><label for="radioBtn"></label>&nbsp;&nbsp; Label 1</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn1" type="checkbox" value="none" name="check"/><label for="radioBtn1"></label>&nbsp;&nbsp; Label 1</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn2" type="checkbox" value="none" name="check"/><label for="radioBtn2"></label>&nbsp;&nbsp; Label 1</a></li>
	</ul>
	<p class="tags">Location</p>
	<ul class="filter-labels">
		<li class="radioBtn"><a href="#"><input id="radioBtn" type="checkbox" value="none" name="check"/><label for="radioBtn"></label>&nbsp;&nbsp; Label 1</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn1" type="checkbox" value="none" name="check"/><label for="radioBtn1"></label>&nbsp;&nbsp; Label 1</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn2" type="checkbox" value="none" name="check"/><label for="radioBtn2"></label>&nbsp;&nbsp; Label 1</a></li>
	</ul>
	<p class="tags">Certified</p>
	<ul class="filter-labels">
		<li class="radioBtn"><a href="#"><input id="radioBtn" type="checkbox" value="none" name="check"/><label for="radioBtn"></label>&nbsp;&nbsp; Certified Psychologist</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn1" type="checkbox" value="none" name="check"/><label for="radioBtn1"></label>&nbsp;&nbsp; Volunteer</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn2" type="checkbox" value="none" name="check"/><label for="radioBtn2"></label>&nbsp;&nbsp; Promoted</a></li>
	</ul>
	<p class="status">Status</p>
	<ul class="filter-labels">
		<li class="radioBtn"><a href="#"><input id="radioBtn3" type="checkbox" value="none" name="check"/><label for="radioBtn3"></label>&nbsp;&nbsp; Online</a></li>
		<li class="radioBtn"><a href="#"><input id="radioBtn4" type="checkbox" value="none" name="check"/><label for="radioBtn4"></label>&nbsp;&nbsp; Offline</a></li>
		
	</ul>
</div>
<div class="col-md-10 clientList-cards">
	<div class="search-box1 col-md-12">
		<span class="col-md-4">YOUR DOST</span>
		<input id="filterConselors" class="col-md-4 pull-right" type="search" placeholder="Search">
		<!--<div class="sort-area">
			<span>Sort By:</span>
			<select class="client-sort">
				<option>Recently Added</option>
				<option>Recentlt Active</option>
				<option>Alphabetically</option>
			</select>
		</div>-->
	</div>
	<div class="clientCards-area">
	</div>
</div>