.dostList{border-right:3px solid #ddd; margin-left:2%}
.dost{padding:10px 4px; border-bottom: 2px solid #ddd}
.dost img{padding:15px 4px} 
.dost .details{padding:2px 4px}
.dost .chat, .dost .email, .dost .splitter{color:#c33;font-size:14px}
.typeChat, .chatSubmit, .supportMsg{border-radius:0!important}
.typeChat{width:80%!important}
.chatSubmit{width:20%!important}
.chat-msgs{height:400px;}
.chat-msgs, .chat-box{border: 1px solid #ccc; padding:0}
.chatOptions{padding: 7%% 5% 15%}
.chatOptions .alert{text-align: center}
.chatOptions a{border-radius:0}


//body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
//a {
    color:#0000FF;
    text-decoration:none; }
  
   //a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }
#chatFrame{top:0px;}