.client-description{
		background:#fff5d6;
	padding:12px 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
}
.client-description img{
	width:68px;
	height:88px;
	margin-top:10px;
}
.message-heading span{
	color:#006699;
	font-size:20px;
	padding-left:30px;
}
.heading-padding{
	padding-top:25px;
}
.orange-line{
	border-bottom:3px solid #ffcc00;
}
.goto-link{
	font-size:12px;
	color:#006699;
	padding-top:20px;
}
.client-header{
	margin-bottom:30px;
	padding-right:0;
	padding-left:0;
}
.client-header .search-box1{
	padding-left:0px;
}
.client-header .search-box1 input{ 
	
	margin-right:0px;
}
.add-detail-modal .modal-content{
	padding:8% 6%;
	border-radius:0px;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	color:#333;
}
.add-detail-modal .modal-dialog{
	width:600px;
}
.add-detail-modal input{
	height:35px;
	margin-bottom:10px;
}
.add-detail-modal span{
	margin-bottom:10px;
	padding:0;
}
.light-color{
	color:#999;
}
.add-detailBtn{
	background:#761a1a;
	color:#fff;
	font-size:36px;
	font-family: 'Roboto Condensed', sans-serif;
	border:none;
	border-radius:0;
	height:62px;
	margin-top:100px;
}
.modal-header, .modal-footer, .modal-body{
	border:none;
	padding:0;
}
.gotoClientList{
	cursor:pointer;
}

.noteContainer{
	position: fixed;
	right: 0;
	height: 490px;
	overflow: auto;
	background-color: #FFF;
	z-index: 1;
}
.orange-line .inbox-messages{border-bottom:0;}

 .wel-message .radioBtn>a:hover{border-left:0;}
@media  screen and (max-width:768px){
	.add-detail-modal .modal-content{
	padding:2px;
	border-radius:0px;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	color:#333;
	padding:5% 5%;
}
.modal-footer {text-align:center;}
.add-detail-modal .modal-dialog{
	width:100%;
}
.modal-header .close {
  margin-top: 0px;
  margin-right: 20px;
}
.add-detail-modal input{
	height:54px;
	margin-bottom:4px;
}
.add-detail-modal span{
	margin-bottom:20px;
	padding:0;
}
.search-box1>*{margin-bottom:20px;}
.add-detailBtn{
	
}
}