.filters{
	background:#f2f2f2;
	border:1px solid #cccccc;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:600;
	padding-top:30px;
	
}
.filters p.tags{
	margin-left:30px;
	padding-top:10px;
}
 .filters p.status{
	margin-left:30px;
	padding-top:30px;
 }
.filter-labels li, .filter-labels li a{
	list-style:none;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	color:#666;
	margin: 20px auto;
	text-decoration: none;
}
.filters li label{
	left:-6px;
}
.clientList-cards{
	padding-top:3%;
}
.search-box1{
	padding-left:5%;
	padding-bottom:30px;
}
.search-box1 span{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	color:#330000;
}
.search-box1 input{
	width: 378px;
	height: 46px;
	border: 1px solid #9d9d9d;
	margin-right:20px;
}
.clientList-cards div.sort-area{
	padding-top:21px;
}
.clientList-cards div.sort-area span, .clientList-cards div.sort-area a{
	font-size:14px;
}
.clientList-cards div.sort-area span{
	color:#999;
}
.clientList-cards div.sort-area a{
	color:#666;
	text-decoration:none;
}
.client-card{
	border:1px solid #ffcc66;
	height:374px;
	width:304px;
	font-size:16px;
}
.clientCards-area .paddBottom{
	padding-bottom:80px;
}
.clientPhoto img{
	width:100px;
	height:100px;
	border-radius:50%;
}
.client-card .discussTopics{
	margin-top:16px;
}
.client-btn{
	color:#333;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	position: absolute;
	top: 329px;
	left:20px;
	padding:0;
	cursor:pointer;
}
.client-btn div{
	padding:10px 0px;
}
.message-btn{
	background:#ccb27f;
	color:#000;
}
.detail-btn{
	background:#000;
	color:#fff;
}
.client-sort, .client-sort:hover, .client-sort:focus, .client-sort:active{
	border:none;
}