.question a{
	font-size:18px;
	font-family: 'Lato', sans-serif;
	color:#666;
	font-weight:300;
}
.question a:hover{
	text-decoration:none;
}
div.question{
	padding:10px 70px;
}
div.question:hover{
	background:#fff5d6;
}
.heading-fonts{
	font-size:24px;
	color:#666;
	}



@media screen and (max-width: 768px){
	div.question{
	padding:10px 0;
}
}
