/*homepage divider*/
.hrdivider{
	width:90%;
	margin:auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
}
.hrdivider div:first-child{
	margin-bottom:60px;
	margin-top:40px;
}
.hrdivider hr{
	margin-top: 16px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #ffcc00;
}

/*homepage cards*/
.homePage{
	width:80%;
	margin:0 auto;
}
.homePage .row{
	margin-bottom:56px;
}
.card{
	border:1px solid #ffcc66;
	height:374px;
	width:304px;
	font-size:16px;
}
.card-head{
	width:204px;
	height:26px;
	background:#ffcc66;
	margin:0 auto 15px auto;
}
/* changes by siva */

.card{
	box-shadow:initial;
}
.card:hover{
	border-color:#ffcc66;
	box-shadow:10px 10px 5px #888888;
	 -webkit-box-shadow:0px 0px 10px #666666;
	 -moz-box-shadow:0px 0px 10px #666666;
}


/* changes by siva */
.card p{
	font-family: 'Roboto Condensed', sans-serif;
	color:#330000;
	/* changes by siva */
	padding:2px 0px;
	margin: auto;
} 
.card .discussTopics{
	margin-top:45px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.card .discussTopics div{
	margin-bottom:10px;
}
.viewall-btn{
	color:#333;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	position: absolute;
	top: 337px;
	left: 74px;
}
.viewall-btn span{
	background:#fffae5;
	padding:15px 0 10px 40px;
}
