/*homepage divider*/
.hrdivider{
	width:90%;
	margin:auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
}
.hrdivider div:first-child{
	margin-bottom:60px;
	margin-top:40px;
}
.hrdivider hr{
	margin-top: 16px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #ffcc00;
}

/*homepage cards*/
.homePage{
	width:80%;
	margin:0 auto;
}
.homePage .row{
	margin-bottom:56px;
}
.card{
	border:1px solid #ffcc66;
	height:374px;
	width:304px;
	font-size:16px;
}
.card-head{
	width:204px;
	height:26px;
	background:#ffcc66;
	margin:0 auto 15px auto;
}
.card p{
	font-family: 'Roboto Condensed', sans-serif;
	color:#330000;
} 
.card .discussTopics{
	margin-top:45px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.card .discussTopics div{
	margin-bottom:10px;
}
.viewall-btn{
	color:#333;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	position: absolute;
	top: 337px;
	left: 74px;
}
.viewall-btn span{
	background:#fffae5;
	padding:15px 0 10px 40px;
}
.compose-msg-modal{
	padding:10% 10% 0
}
.compose-msg-modal .recipients{
	width:70%
}
.compose-msg-modal .subject, .compose-msg-modal .compose-msg-box, .compose-msg-modal #btnSend {
	width:100%
}

.compose-message-modal .modal-footer{text-align:center}
.compose-message-modal .composeMsg-send {
	background-color: #800;
	border: 1px solid black;
	color: white;
	padding:10px 0;
	margin: 5% 0;
	width:80%
}

@media screen and (max-width: 768px){
	.card {
border: 1px solid #ffcc66;
height: 374px;
width: 100%;
font-size: 16px;
margin-top: 27px;
}
}
