/*homepage divider*/
.hrdivider{
	width:90%;
	margin:auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	position:relative;
}
.hrdivider div:first-child{
	margin-bottom:60px;
	margin-top:40px;
}
.hrdivider hr{
	margin-top: 16px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #ffcc00;
}

/*homepage cards*/
.homePage{
	width:80%;
	margin:0 auto;
}
.homePage .row{
	margin-bottom:56px;
}
.card{
	border:1px solid #ffcc66;
	height:374px;
	//width:304px;
	font-size:15px;
	overflow-y:hidden;
	color:#666;
}
.card:hover{
	box-shadow:0px 0px 5px #666666;; 
	 -webkit-box-shadow:0px 0px 5px #666666;
	 -moz-box-shadow:0px 0px 5px #666666;
	 }
.card-head{
	width:204px;
	height:26px;
	background:#ffcc66;
	margin:0 auto 15px auto;
}
.card p{
	font-family: 'Roboto Condensed', sans-serif;
	color:#330000;
} 
.card img{width:27%;}
.card .discussTopics{
	margin-top:45px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.card .discussTopics div{
	margin-bottom:10px;
}
.card .discussFaq{width:90%;font-family: 'Lato', sans-serif;
font-weight: 300;margin-left:5%;height: 40%;
overflow: hidden;}
.viewall-btn{
	color:#333;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	position: absolute;
	bottom:9px;
	left: 25%;
}

//.viewall-btn span{
	background:#fffae5;
	padding:15px 0 10px 40px;
}
.viewall-btn a{background:#fffae5;padding:10px 17px;text-decoration:none;transition: background 1s;}
.viewall-btn a:hover{background:#ffcc00;text-decoration:none;}
.modal-content{margin-top:15%;}
.compose-msg-modal{
	padding:10% 10% 0;
	
}
.compose-msg-modal input{padding:2%;}
.compose-msg-modal .recipients{
	width:70%
}
.compose-msg-modal .subject, .compose-msg-modal .compose-msg-box, .compose-msg-modal #btnSend {
	width:100%
}

.compose-message-modal .modal-footer{text-align:center}
.compose-message-modal .composeMsg-send {
	background-color: #800;
	border: 1px solid black;
	color: white;
	padding:10px 0;
	margin: 5% 0;
	width:80%
}

@media screen and (max-width: 768px){
	.card {
border: 1px solid #ffcc66;
height: 374px;
width: 100%;
font-size: 16px;
margin-top: 27px;
}
}

.modal-header .close {
  margin-top: -35px;
  margin-right: -21px;
}
}

.modal-header{height:30px}

.yourDost-heading{margin-bottom:25px}

.viewDetail{cursor:pointer}