.inbox-messages{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 0px; 
	padding-top:35px;
}
.inbox-messages1{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 0px; 
	padding-top:35px;
}

/* siva code  // no shadow. */
.inbox-messages1:hover,.inbox-messages:hover{
	box-shadow:0px 0px 2px #666666;; 
	 -webkit-box-shadow:0px 0px 2px #666666;
	 -moz-box-shadow:0px 0px 2px #666666;;
}


/* siva code */


.wel-message{
padding-left:0;
padding-top:0;
}
.wel-message .compose-btn {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	color:#fff;
	background:#330000;
	padding:3px 0px;
	text-align:center;
	width:154px;
	border: none;
	border-radius: 0;
}

.inbox-message .inbox img.photo{
	width:60px;
	height:70px;
}
.inbox-message .inbox span.inboxName{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#333;
}

.message-heading, .msg-view-btn{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
}
.message-text{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:18px;
}
.message-time{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	top: -21px;
position: relative;
}
.right-view{
	position: relative;
	top: 0px;
	right: 40px;
}
.tab-content{
	width:83%;
	padding-top:30px;
	margin-left: 180px;
}
.left-panel{
	width:13%;
	position:fixed;
	top:172px;
}

.inbox-messages:last-child {
  border:none;
}
.inbox-messages1:last-child {
  border:none;
}
.orange-line:last-child {
  border:none;
}
.inbox-messages1:hover{
	background:#fff5d6;
}
.inbox-messages:hover{
	background:#fff5d6;
}

.text-area-add-note {
margin: 0px 0px 5px; width: 466px; height: 102px;}
.expandTheMessage{
	cursor: pointer;
}

@media screen and (max-width: 768px){
	.tab-content{
	width:100%;
	padding-top:30px;
	padding-left:2%;
	padding-right:2%;
	margin-left:0px;
}
.inbox-messages1{
	padding-top:20px;
	padding-left:0px;
	padding-right:0px;
}
.inbox-messages1>.photo{
	//width:60px;
	float:left;
}
.pull-right{
	float:left!important;
}
.right-view {
	right:0px;
}
.message-heading{
	//float:left;
}
.message-time {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
top: 7px;
position: relative;
}
}