.loginForm{
	padding-bottom:100px;
	padding-top: 60px; -
}
.loginForm div{
	padding-bottom:15px;
}
.loginForm div:nth-child(2){
	padding-bottom:0px;
}
.loginForm div:nth-child(3){
	font-size:18px;
	color:#663333;
	font-family: 'Roboto Condensed', sans-serif;
}
.loginForm .form-group {
	margin-left: 0;
	margin-right: 0;
}
.loginForm div:nth-child(5){
	font-size:24px;
	color:#663333;
	font-family: 'Roboto Condensed', sans-serif;
}
.sign a{
	color:#663333;
}
.sign a:hover{
	color:#663333;
}
.loginForm label{
	font-size:18px;
	color:#333;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}
//.loginForm button{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:36px;
	padding:6px 220px;
	background:#761a1a;
	color:#fff;
}
#loginSubmit{
	width:100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:36px;
	//padding:6px 220px;
	background:#761a1a;
	-webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
	color:#fff;
}
#loginSubmit:hover{
	
	background:#000;
	
}
.loginForm input{
	font-size:18px;
	padding-top:25px;
	padding-bottom:25px;
	border:1px solid #999;
}
.loginForm .form-horizontal .control-label {
	padding-top: 22px;
}


/*Reset CSS*/
a:hover{
	text-decoration: none;
}

textarea {
    resize: none;
}

/*Forgot Pass*/

.forgot-pass-container{
	height: 500px;
}

/* siva code */

.loginForm .sign{
	text-align:right;
}
@media screen and (max-width: 992px){
	#loginSubmit{
	padding:6px 10px;
	}
	.loginForm{
	padding-bottom:0px;
	padding-top: 30px; 
}
}