.signupForm .modal-dialog{
	width: 1075px;
	right: 87px;
	top: 60px;
	height: 1168px;
	border: 1px solid #999;
}
.signupForm input{
	border:1px solid;
	border-radius:0px;
}
.signupForm .modal-header{
	border:0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size:20px;
	color:#660000;
	padding: 60px 0 0px 102px;
	height:auto!important
}

.signupForm .modal-header button img{
	margin-right:50px;
	background:none;
}
.signupForm .modal-content{
	border-radius:0;
	padding-left:20px;
}
.signupForm .modal-body img{
	width:90px;
	height:80px;
	border: 1px solid;
	margin-right:16px;
} 
.signupForm .modal-body .form-group{
	margin-bottom: 29px;
	margin-top: 34px;
}
.signupForm .modal-body div.avatar{
	padding-bottom:4px;
}
.signupForm .modal-body .form-group label, .signupForm .modal-body .radio-button{
	color:#333;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-bottom:15px;
}
.signupForm .modal-body .radio-button{
	margin-bottom:20px;
 }
.signupForm .modal-body .securityPass{
	margin-bottom: 30px;
}
.signupForm .modal-body .securityText{
	padding-bottom:46px;
	padding-left:84px;
}
.signupForm .modal-body .disclaimer{
	font-family:'lato';
	padding-bottom:30px;
	padding-top:30px;
}
.signupForm .modal-footer{
	border:0;
}
.signupForm .modal-footer button {
	border:0px;
	border-radius:0px;
	background:#761a1a;
	-webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
	color:#fff;
	font-size:25px;
	font-family: 'Roboto Condensed', sans-serif;
	padding:20px 330px;
	margin-right:100px;
}
.signupForm .modal-footer button:hover{
	background:#000;
}
.signupForm .avatar label > input{ /* HIDE RADIO */
  display:none;
}
.signupForm .avatar label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:1px solid black;
}
.signupForm .avatar label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid black;
}
/* --- media styles or mobiles ---- */

@media  screen and (max-width:768px){
	.signupForm .modal-dialog{
		width:100%;
		right:0px;
		margin:auto;
	}
	.signupForm .modal-header {
		  padding: 34px 0 0px 1px;
	}
	.signupForm .modal-body .securityText{
		  padding-bottom: 2px;
  		  padding-left: 2px;
	}
	.email-signup-radio{
		  padding-left: 2px;
	}
	.security-signup-radio{
		padding-left: 2px;
		float:left!important;
	}
}
