body{
	padding-top:168px;
}
.wel-message .nav{
	padding-top:20px;
}
.wel-message ul li a{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:18px;
	color:#333;
	padding:0px;
	padding-left:16px;
	margin-bottom:12px;
}
.wel-message ul li a:hover{
	background:none;
	border-left:13px solid #663333;
}
.wel-message ul li.active a{
	border-left:13px solid #663333;
	background:none;
	padding-left:3px;
}
.wel-message div.inbox-welcome{
	padding-top:20px;
}
.wel-message div.inbox-welcome p.top-text{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:20px;
	color:#000;
}
.wel-message div.inbox-welcome p span{
	font-size:30px;
}
.wel-message .hOption{
	margin-bottom:30px;
	margin-top:25px;
}
.wel-message .hOption , .wel-message .hOption .digit{
	padding-right:0px;
	padding-left:0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
}
.wel-message .hOption p{
	font-size:20px;
	color:#000;
	font-family: 'Roboto Condensed', sans-serif;
	
}
.wel-message .hOption .digit{
	width:30px;
	height:30px;
	border-radius:50%;
	background:#ffcc33;
	font-size:24px;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
}
.wel-message .hOption .custom-button{
	font-size:24px;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
	background:#fff5cc;
	padding-top:22px;
	padding-bottom:22px;
}
.wel-message .hOption .red-button{
	background:#761a1a;
	color:#fff;
}
.wel-message .hOption span{
	font-size:15px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing:-1px;
}

.padd0{
	padding-right:0px;
	padding-left:0px;
}
.assurance p{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:18px;
	color:#000;
	margin-top:100px;
	margin-bottom:400px;
}
/* no messages.html style*/
.load-old{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:24px;
	color:#006699;
	margin-bottom:100px;
}

.unread-highlight{
	font-weight: 600;
}

@media screen and (max-width: 768px){
	.wel-message{
	padding-right:0px;
	padding-left:0px;
	}
}
