<div class="modal-dialog">
	<div class="modal-content">
		<div class=' modal-header'>
		
			<button type="button" class="close" data-dismiss="modal"><img src="images/icons/cross.png"></button>
			<span class="modal-title">{{{title}}}</span>
		</div>
		<div class="modal-body">
		</div>
	    <div class="modal-footer">
    	</div>
	</div>
</div>