<form class="compose-msg-modal">
	<span>To</span></br>
	<input type="text" class="recipients" name="recipients"></input></br></br>
	
	<span>Subject</span></br>
	<input type="text" name="subject" class="subject"></br></br>
	
	<span>Your Message</span></br>
	<textarea class="compose-msg-box" rows="5">
	</textarea></br>
</form>