<div class="col-md-10">
 <div class="form-group clearfix">
    <label for="inputEmail3" class="col-sm-12 control-label">How was your experience?</label>
    <div class="col-sm-12">
    
  <input type="radio" name="experience" value="male">I feel better<br>
  <input type="radio" name="experience" value="male">I feel so much better<br>
 <input type="radio" name="experience" value="male">I still feel the same<br>
<input type="radio" name="experience" value="female">I feel worse

    </div>
<div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label">What do you say about  <ABX>?</label>
    <div class="col-sm-12">
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label">Would you like to talk <ABC> again?</label>
    <div class="col-sm-12">
     <input type="radio" name="sex" value="male">Yes<br>
<input type="radio" name="sex" value="female">No
  
 
</select>
    </div>
   
<div>
	<fieldset class="rating">
    <legend>Please rate:</legend>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<div>
</div>
<style>
p{margin-left:8%;font-weight:light;font-size:16px;}
.form-labels{ margin-left:18%;}
.form-horizontal{margin-top:6%;height:60vh}
//.navbar-btn {
	margin: 20px 32px 0 0;
}
.submit-btn{
	background: #fffae6;
	-webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
	padding:14px 64px 14px 62px;
	font-size:20px;
	font-weight:300;
	border:none;
	border-radius:0;
}
.submit-btn:hover{
	background: #000;
	-webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
	padding:14px 64px 14px 62px;
	font-size:20px;
	font-weight:300;
	border:none;
	border-radius:0;
	color:#ffcc33;
}
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:32px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
</style>