<div class="col-md-3 dostList">
	{{#each objects}}
		<div class="col-md-12 dost">
			<img class="col-md-3" src="images/avatar/{{avatar}}.png">
			<div class="col-md-9 details">
				<h4>{{username}}</h4>
				<div><span>#Relationship, #Career, #Family</span></div>
				<div><a href="#" type="button" class="btn chat">Chat</a> <span class="splitter">|</span><a href="#" type="button" class="btn email">Email</a></div>
			</div>
		</div>
	{{/each}}
</div>
<div class="col-md-9">
	<div class="col-md-12">
	<h3 class="pull-left">CHAT WITH YOUR DOST</h3>	
	<div class="clientCards-area">
	</div>
</div>