<div class="col-md-2">	
</div>
<div class="col-md-8 chatOptions">
	<div class="alert">We notice that you interacted with DOST - Samridhi last time. however she is not available online now.</div>
	
	<a type="button" href="javascript:void(0);"class="btn btn-danger btn-lg btn-block">CONNECT ME TO THE NEXT AVAILABLE DOST</a>
	<a type="button" href="javascript:void(0);" class="btn btn-default btn-lg btn-block" id="leaveMsg">LEAVE A MESSAGE FOR SAMRIDHI</a>
	<a type="button" href="#talkToDost/1" class="btn btn-default btn-lg btn-block">SELECT A SPECIFIC DOST TO TALK TO</a>	
</div>
<div class="col-md-2">	
</div>
