<div id="admins" style="float:left; width:50%;">
<!-- Set Div As your requirement -->
</div>
<div style="float:left; width:50%;">
<div id="fb-root"></div>
<!-- 
	<div id='login' style='text-align: center'>
      <form name='cred'>
        <label for='jid'>JID:</label>
        <input type='text' id='jid'>
        <label for='pass'>Password:</label>
        <input type='password' id='pass'>
        <input type='button' id='connect' value='connect'>
      </form>

      <label for='to'>
	  to:
      </label>
      <input type='text' id='to'>
      <label for='message'>
	  message:
      </label>
      <input type='text' id='message'>
      <input type='button' id='send' value='send'>
    </div>
    -->
    <hr>
    <div id='log'></div>
    
    <div id="wrapper">
    	<div id="chatbox"></div>
		    <form name='cred'>
		        <label for='jid'></label>
		        <input type="hidden" id='jid' value="">
		        <label for='pass'></label>
		        <input type='hidden' id='pass' value="">
		        <input type='hidden' id='connect' value='connect'>
		    </form>
<!-- 		    
      <label for='to'>
	  to:
      </label>
       -->
      <input type='hidden' id='to' value="">
      <!-- <label for='message'> message:  </label> -->
      <input type='text' id='message' value="">
      <input type='button' id='send' value='send'>		    
		    
		    
<!-- 		    
			<form name="message">
			    <input name="usermsg" type="text" id="usermsg" size="63" />
			</form> -->
	</div>
</div>