<form class="form-horizontal loginForm" action="/dost/j_spring_security_check" method="POST" role="form">
	  <div class="form-group">
		<label for="username" class="col-sm-3 control-label">Username*</label>
		<div class="col-sm-5">
		  <input type="text" class="form-control" required id="username" name="username">
		</div>
	  </div>
	  <div class="form-group">
		<label for="password" class="col-sm-3 control-label">Password*</label>
		<div class="col-sm-5">
		  <input type="password" class="form-control" required id="password" name="password" >
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-7 col-sm-2 text-right sign">
		<a href="#" class="" id="forgotpass">Forgot Password?</a>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
		  <button type="submit" id="loginSubmit" class="btn btn-default">LOGIN</button>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-3 col-sm-4 text-right sign">
		Don't have an account? <a class="signupAnchor" href="#">SIGNUP NOW</a>
		</div>
	  </div>
</form>