<div class="inbox-messages col-md-12">
	<div class="col-md-2">
		<img class="photo" src="images/avatar/{{sender.avatar}}.png"><br>
		<span class="inboxName">{{sender.username}}</span><br>
		<span class="message-timex">{{getDateDiff sentDate}}</span>
	</div>
	<div class="col-md-10">
		<div class="message-text">
			{{{content}}}
		</div>
	</div>
</div>