<div class="col-md-12 wel-message inbox-message" role="tabpanel">
	<!-- Nav tabs -->
	<div class="col-md-2 hidden-xs left-panel">
		<button type="button" class="compose-btn btn">COMPOSE</button>
		<ul class="nav" role="tablist">
			
			<li role="presentation" class="active"><a href="#inbox" aria-controls="inbox" role="tab" id="inboxTab" data-toggle="tab">Inbox<span id="unreadCount"></span></a></li>
			<li role="presentation"><a href="#sent" aria-controls="sent" role="tab" id="sentTab" data-toggle="tab">Sent</a></li>
			<li role="presentation"><a href="#myChats" aria-controls="myChats" id="chatsTab" role="tab" data-toggle="tab">My Chats</a></li>
		</ul>
	</div>
	<!-- Tab panes -->
	<div class="tab-content col-md-10">
		<div id="messageBoxContainer">
		<div class="loading-data hidden"><img src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif"></div>
			<div role="tabpanel" class="tab-pane active inbox" id="inbox"></div>
			<div role="tabpanel" class="tab-pane inbox" id="sent"></div>
			<div role="tabpanel" class="tab-pane" id="myChats"></div>
		</div>
	</div>
</div>


