<div class="tab-content col-md-10">
	<div role="tabpanel" class="tab-pane active inbox" id="inbox">
		<div class="inbox-messages1 col-md-12">
			<div class="col-md-1">
				<img class="photo" src="images/avatar/avatar1.png"><br>
				<span class="inboxName">Prashant</span>
			</div>
			<div class="col-md-9">
				<span class="message-heading">
					Parents Keep Fighting (2)
				</span>
				<span class="message-time pull-right">
					5 min ago
				</span><br><br>
				<p class="message-text">
					I think Sneha, you could talk toyour parents about it as in how this bothers you. 
					Don’t fight with them, just be polite and try to talk to the, Hope that helps!. 
				</p>
			</div>
			<div class="col-md-2 text-right right-view">
				<span class="msg-view-btn"> View&nbsp;&nbsp;</span><img src="images/icons/arrow1.png">
			</div>
		</div>
		<div class="inbox-messages col-md-12">
			<div class="col-md-1">
				<img class="photo" src="images/avatar/avatar1.png"><br>
				<span class="inboxName">Prashant</span>
			</div>
			<div class="col-md-9">
				<span class="message-heading">
					Parents Keep Fighting (2)
				</span>
				<span class="message-time pull-right">
					5 min ago
				</span><br><br>
				<p class="message-text">
					I think Sneha, you could talk toyour parents about it as in how this bothers you. 
					Don’t fight with them, just be polite and try to talk to the, Hope that helps!. 
				</p>
			</div>
			<div class="col-md-2 text-right right-view">
				<span class="msg-view-btn"> View&nbsp;&nbsp;</span><img src="images/icons/arrow1.png">
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="sent">defhknklkml</div>
	<div role="tabpanel" class="tab-pane" id="myChats">...hkhllkjlj</div>
</div>