<div class="inbox-welcome">
	<p class="top-text text-center col-md-10 col-md-offset-1">You do not have any new messages.<br/>
			We are here to help you, if there is something bothering you
	</p>
	<div class="helpOptions">
		<div class="hOption col-md-12 ">
			<div class="custom-button text-center">LEAVE A MESSAGE FOR YOUR DOST</div>
		</div>
		<div class="hOption col-md-12">
			<div class="custom-button text-center red-button">CHAT ONLINE WITH THE NEXT AVAILABLE DOST</div>
		</div>
	</div>
	<a class="load-old text-center col-md-12" href="#">
		Load Old Messages <img src="images/icons/arrow.png">
	</a>
</div>