<div class="inbox-welcome">
<p class="top-text">Hi Sneha,<br/><br/> 
	Welcome to D.O.S.T.<br/>
	Don’t worry, whatever it is, we are here to help you. We are your special friends with whom you can
	share your problems and we promise to help you as much as we can.<br/><br/>
	<span>How can we help?</span>
</p>
<div class="helpOptions">
	<div class="hOption col-md-12">
		<div class="col-md-1 text-center"><div class="digit">1</div></div>
		<div class="col-md-11">
			<p>You could also leave an offline message and someone from team DOST will reply in not more than 24 hours</p>
			<div class="custom-button text-center">LEAVE A MESSAGE FOR YOUR DOST</div>
		</div>
	</div>
	<div class="hOption col-md-12">
		<div class="col-md-1 text-center"><div class="digit">2</div></div>
		<div class="col-md-11">
			<p>If you want to chat with a DOST about your problems</p>
			<div class="custom-button text-center red-button">CHAT ONLINE WITH THE NEXT AVAILABLE DOST</div>
		</div>
	</div>
	<div class="hOption col-md-12">
		<div class="col-md-1 text-center"><div class="digit">3</div></div>
		<div class="col-md-11">
			<p>Discuss with other DOST users about your worries. </p>
			<div class="custom-button text-center">GET INTO PEER TO PEER DISCUSSION</div>
		</div>
	</div>
	<div class="hOption col-md-12">
		<div class="col-md-1 text-center"><div class="digit">4</div></div>
		<div class="col-md-11 padd0 text-center">
			<p class="text-left">Self Help</p><br/><br/>
			<div class="col-md-3 padd0">
				<img src="images/icons/small-faq.png"><br/><br/>
				<span>Most Asked Questions</span>
			</div>
			<div class="col-md-2 padd0">
				<img src="images/icons/small-personality.png"><br/><br/>
				<span>Personality Tests</span>
			</div>
			<div class="col-md-2 padd0">
				<img src="images/icons/small-motivation.png"><br/><br/>
				<span>Motivational Quotes</span> 
			</div>
			<div class="col-md-2 padd0">
				<img src="images/icons/small-horoscope.png"><br/><br/>
				<span>Horoscopes</span>
			</div>
			<div class="col-md-3 padd0">
				<img src="images/icons/small-stress.png"><br/><br/>
				<span>De-Stressing Technique</span> 
			</div>
		</div>
	</div>
</div>
<div class="assurance text-center col-md-12">
	<p>We assure you that all DOST are specially talented group of pople who would be the best listeners to your probems. However his is not a medical service. 
	If you are feeling suicidal, please call the helpline 0808101010 or call any medical service</p>
</div>
</div>