<section id="container" >

    <!--header start-->
    <header class="navbar-fixed-top">
    </header>
    <!--header end-->


    <!--main content start-->
    <section id="main-content" class="main-content">
    </section>
    <!--main content end-->
    
    <!--footer start-->
    <footer class="text-left col-md-10">
    </footer>
    <!--footer end--> 

</section>