Copyright 2014, D.O.S.T - All rights reserved<br/>
We are not a medical service. If you are thinking about suicide, if you think you may be in a danger of yourself or to others, or if otherwise you have any<br/> medical emergency, please immediately call 100/101 and notify the police or emergency medical service.<br/>
<a href="#">About Us</a> | <a class="tos-open" data-toggle="modal" data-target=".tos">Terms of Services</a> | <a href="#">How it works</a>
