<div class='footer-left col-md-8'>
<a href="#">About Us</a> | <a class="tos-open" data-toggle="modal" data-target=".tos">Terms of Services</a> | 
	<a href="#">How it works</a> | <a href="#">Testimoials</a> |  <a href="#">Press</a>

	<br/>Copyright 2014, D.O.S.T - All rights reserved<br/>
	We are not a medical service. If you are thinking about suicide, 
	if you think you may be in a danger of yourself or to others, or if otherwise you have any medical emergency,
	 please immediately call 100/101 and notify the police or emergency medical service.<br/>
	
</div>
<div class='col-md-4 footer-icons text-right'>
<a href="" ><img src="images/icons/blog.png" /></a>
<a href="" ><img src="images/icons/blog.png" /></a>
<a href="" ><img src="images/icons/blog.png" /></a>
<a href="" ><img src="images/icons/blog.png" /></a>

</div>