<div class="hrdivider">
	<div class="col-md-12">
		<hr class="col-md-5">
		<div class="col-md-1">
			Explore
		</div>
		<hr class="col-md-5">
	</div>
</div>
<div class="homePage">
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>SUPPORT DISCUSSIONS</p></div>
				<a href="#discussions"><img src="images/icons/support-discussion.png"></a>
				<div class="discussTopics supportDiscussions">
					
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#discussions"><span>VIEW ALL<span></a></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>MOST ASKED QUESTIONS</p></div>
				<a href="#faq"><img src="images/icons/mostAskedQuestion.png"></a>
				<div class="discussFaq">
			
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#faq"><span>VIEW ALL<span></a></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>KNOW YOUR PERSONALITY </p></div>
				<a href="#personalitytests"><img src="images/icons/personalityTest.png"></a>
				<div class="discussTopics">
					<div class="text-left">
						Myers- Briggs Type Indicator (MBTI Test)
					</div>
					<div class="text-left">
						Which career suits you the best?
					</div>
					<div class="text-left">
						Which career suits you the best?
					</div>
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#personalitytests"><span>VIEW ALL<span></a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>MOTIVATIONAL QUOTES</p></div>
				<a href="#quotes"><img src="images/icons/motivation.png"></a>
				<div class="discussTopics">
					<div class="text-left">
						I want to be free like a bird
						<div class="text-right">~ 3 hours ago</div>
					</div>
					<div class="text-left">
						II have loved this girl with all my heart but she is seeing someone else. I hate her
						<div class="text-right">~ 4 hours ago</div>
					</div>
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#quotes"><span>VIEW ALL<span></a></div>
			</div>
		</div>
		<!--<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>HOROSCOPE</p></div>
				<img src="images/icons/horoscope.png">
				<div class="discussTopics">
					<div class="col-md-4">Picsces</div><div class="col-md-4">Libra</div><div class="col-md-4">Taurus</div>
					<div class="col-md-4">Cancer</div><div class="col-md-4">Scorpio</div><div class="col-md-4">Virgo</div>
					<div class="col-md-4">Aries</div><div class="col-md-4">Leo</div><div class="col-md-4">Capricon</div>
					<div class="col-md-4">Taurus</div><div class="col-md-4">Saggtarius</div><div class="col-md-4">Gemini</div>
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><span>VIEW ALL<span></div>
			</div>
		</div>-->
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>DE-STRESSING TECHNIQUES</p></div>
				<a href="#destressing"><img src="images/icons/stress.png"></a>
				<div class="discussTopics">
					<div class="text-left">
						Pranayam
					</div>
					<div class="text-left">
						10 minute Surya Namaskar
					</div>
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#destressing"><span>VIEW ALL<span></a></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
				<div class="card-head"><p>ARTICLES</p></div>
				<a href="#articles"><img src="images/icons/articles.png"></a>
				<div class="discussTopics">
					<div class="text-left">
						Is your relationship bothering you?-Starting a conversation when
						<div class="text-right">~ 3 hours ago</div>
					</div>
					<div class="text-left">
						Phone and relationships - whom to blame?
						<div class="text-right">~ 4 hours ago</div>
					</div>
				</div>
				<div class="viewall-btn col-md-6 col-sm-6 col-xs-6"><a href="#articles"><span>VIEW ALL<span></a></div>
			</div>
		</div>
	</div>
</div>