<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-2 client-card text-center card">
	<div class="card-head">
		<p>{{fullname}}{{unlessinline fullname username}}</p>
	</div>
			<div class="clientPhoto">
				<img src="images/avatar/{{avatar}}.png">
			</div>
			<div class="discussTopics">
				<div class="text-center">
					#Relationship #Career <br/>
					#Relationship #Career		
				</div>
				<div class="text-center">
					Created on: 20 Nov'14<br/>
					Last active on: 1 Dec'14     	    							
				</div>
			</div>
			<div class="client-btn col-md-10">
				<div class="col-md-6 message-btn">
					<img src="images/icons/message.png">
					MESSAGE
				</div>
				<div class="col-md-6 detail-btn">
					VIEW DETAIL
				</div>
			</div>
	
</div>