<div id="{{id}}" class="message-heading col-md-12 heading-padding">
		{{subject}} {{messageCount}}
		<span> <a href="#" class="client-detail-reply">Reply</a> | <a href="#" class="client-detail-add-note">Add Note </a></span>
</div>