<div class="notes-heading">
	{{note}}
</div>
<div class="notes-date pull-right">
	{{userName}} {{formatDate noteDate "(Do MMM'YY) ha"}}
</div>
<a href="#" class="goto-link">Go to the Conversation</a>
