<div class="inbox-messages col-md-12 sieve-history">
	<div class="col-md-2">
		<span class="inboxName">{{sender.username}}</span><br/>
		<span class="message-timex">{{getDateDiff sentDate}}</span>
	</div>
	<div class="col-md-10">
		<p class="message-text">
			{{{content}}}
		</p>
	</div>
</div>