	body{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 12px;
	}
	.details_box{
				padding:20px;
				background: #f7f7f7;
	}
	.create_account{
		font-size: 14px;
		
	}
	.container{
		margin-top: 50px;
	}
	ul	li{
		list-style:none;
	}
	.exploration_option a{
		color:#000;
	}
	h3{
		font-size: 16px;
	}
	h4{
		font-size: 14px;
	}
	a:hover{
		text-decration:none;
	}
	.exploration_option ul{
		margin-left:0;
	}
	.exploration_option h4, .exploration_option h3{
		margin-bottom:0;
	}
	.login_unit{
		padding:10px;
		border: 1px solid #f7f7f7;
		margin-top: 40px;
	}
	.login_btn{
		font-size: 13px;
	}
	.signupNowText{
		margin-top: 25px;
	}
	.loginText{
		margin-top: 25px;
	}
	.avatar{
		width:70px;
		height:60px;
		border:1px solid #DDDDDD;
		background: #EBEBEB;
	}
	.avatar:first-child{
		margin-left:0;
	}
	.chooseAvatar span{
		font-size: 11px;
		color: #666666;
		font-weight:normal;
		cursor: default;
	}
	.avatar:hover{
		border: 1px solid #666666;
		background: #DDDDDD;
		opacity:1;
	}
	.avatarHolder{
		margin-bottom:5px;
	}
	.signupLoginOption{
		margin: auto;
		width:220px;
		text-align:center;
	}
	.breadcrumbContainer{
		margin-top:20px;
	}
	.profile_pic{
		width:64px;
		height:64px;
		background: #DDD;
	}
	.discussionActionOptions{
		margin: 0px 0 0 48px;
		border-top: 1px solid #DDD;
		margin-left: 70px;
		padding-top:5px;
	}
	.discussionActionOptions li{
		color: #069;
		display: inline-block;
		cursor: pointer;
		border-right: 1px solid #000;
		padding: 0 10px;
	}
	.discussionActionOptions li:last-child{
		border-right:0;
	}
	.discussion_topic {
		margin-top:20px;
	}
	.owner_name{
		color:#000;
	}
	.comment_action li{
		display: inline-block;
		cursor: pointer;
		border-right:1px solid #DDD;
		padding: 0 10px;
	}
	.comment_action li:last-chIld{
		color:#069;
		border-right:0px solid #DDD;
		cursor: default;
	}
	.responses{
		background: none;
	}
	.responses>li{
		padding-bottom:20px;
		border-bottom: 1px dotted #DDD;
	}
	h2.pageHeading{
		font-size: 18px;
	}
	.pageTop{
		margin-top:20px;
	}
	h4.media-heading span, .time_taken{
		color: #999;
		font-size:12px;
	}
	.discussion_topic .well{
		margin-bottom:0;
	}
	.discussion_topic{
		cursor:pointer;
	}
	.pagination{
		margin: 0;
	}
	.chat_display_area{
		min-height: 300px;
		overflow-y: scroll;
		padding:20px;
	}
	.chat_container, .chat_nav {
		padding:0;
	}
	.chat_options{
		border-bottom: 1px solid #DDD;
		width: 100%;
		border-right: 1px solid #DDD;
	}
	.message_counselor{
		padding: 20px 0;
	}
	
/*counselor end*/
	.left_nav li.active{
		border-left: 5px solid #996600;
	}
	.left_nav li {
		padding-left: 10px;
		border-left: 5px solid transparent;
	}
	.conversation_history{
		margin-top:	20px;
	}
	.conversation_history li{
		margin-bottom:10px;
	}
	.reply_to_conversation{
		margin-top:20px;
	}
	.reply_to_conversation button{
		margin-top: 5px;
	}
	.chatPatient, .emailPatient{
		padding: 5px; 10px;
		cursor: pointer;
		color: #006699;
	}
	.individualQuestion{
		display:block;
	}
	.FAQList{
		margin-left:20px;
	}
/*end of counselor end */
