<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="images/logo.png"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li id="messagesNav" class="hidden"><a href="#messages">Messages<span class="sr-only">(current)</span></a>
				<!-- siva's code -->
				<div class="col-md-12 wel-message inbox-message" role="tabpanel">
				<div class="col-xs-2  hidden-sm hidden-md hidden-lg">
					<button type="button" class="compose-btn btn">COMPOSE</button>
					<ul class="nav" role="tablist">
						
						<li role="presentation" class="active"><a href="#inbox" aria-controls="inbox" role="tab" id="inboxTab" data-toggle="tab">Inbox<span id="unreadCount"></span></a></li>
						<li role="presentation"><a href="#sent" aria-controls="sent" role="tab" id="sentTab" data-toggle="tab">Sent</a></li>
						<li role="presentation"><a href="#myChats" aria-controls="myChats" id="chatsTab" role="tab" data-toggle="tab">My Chats</a></li>
					</ul>
				</div>
				</div>
				<!-- siva's code -->
				</li>
				<li id="clientListNav" class="hidden"><a href="#clients">Client List</a></li>
				<li><a href="#discussions">Support Discussions <span class="sr-only">(current)</span></a></li>
				<li id="yourdost" class="active"><a href="#dost">Your Dost</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore <img src="images/icons/arrow.png"></a>
					<div class="dropdown-menu col-md-12 explore-dropdown" role="menu">
						<div class="row">
							<a href="#quotes">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-motivation.png"></div>
									<div class="col-md-10">
										<span>Motivational Quotes</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">Do the thing you fear most and the death of fear is certain</a>
									</div>
								</div>
							</a>
							<!--<a href="#">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-horoscope.png"></div>
									<div class="col-md-10">
										<span>Horoscopes</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">Find out what your stars say of you!</a>
									</div>
								</div>
							</a>-->
							<a href="#faq">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-faq.png"></div>
									<div class="col-md-10">
										<span>Most Asked Questions</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">I think I am gay? How can I know for sure? Should I just hide from world?</a>
									</div>
								</div>
							</a>
						</div>
						<div class="row">
							
							<a href="#destressing">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-stress.png"></div>
									<div class="col-md-10">
										<span>De-Stressing Technique</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">Practise these and feel better for life</a>
									</div>
								</div>
							</a>
							<a href="#personalitytests">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-personality.png"></div>
									<div class="col-md-10">
										<span>Personality Tests</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">Find out about your personality traits</a>
									</div>
								</div>
							</a>
						</div>
						<div class="row">
							
							<a href="#articles">
								<div class="col-md-6">
									<div class="col-md-2"><img src="images/icons/small-articles.png"></div>
									<div class="col-md-10">
										<span>Articles</span>
										<a class="explore-viewlink">VIEW ALL</a>
										<a class="col-md-12">Read some stories shared by experts</a>
										
									</div>
								</div>
							</a>
						</div>
						<div class=" explore-tabs col-md-12"> 
										<a href="#Relationships" class="explore-tabs1">Relationships</a>
										<a href="#marriage" class="explore-tabs1">Marriage</a>
										<a href="#education" class="explore-tabs1">Education</a>
										<br>
										<a href="#parents" class="explore-tabs1">Parents/Kids</a>
										<a href="#experiences" class="explore-tabs1">Experiences</a>
										<a href="#counselling" class="explore-tabs1">Counselling profession</a>
						</div>
					</div>
				</li>				
				<li id="talkToDost" class="hidden"><a href="#talkToDost">Talk To Your Dost</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="volunteer"><a target="_blank" href="https://www.surveymonkey.com/s/FP6Z6QN">Become a Volunteer</a></li>
				<li id="userDetails" class="hidden">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span id="dropdownName"></span><img src="images/icons/arrow.png"></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#addDetails">Edit profile</a></li>
						<li><a href="#changePass">Change password</a></li>
						
					</ul>
				</li>
				<li><button type="button" class="btn btn-default navbar-btn login-btn">LOGIN</button></li>
			</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="banner bannerLarge hidden-sm hidden-xs ">
			<img class="hand bannerLargehand" src="images/icons/hand.png">
			<img class="sadPerson bannerLargesadPerson" src="images/icons/sad_person.png">
			<p class="col-md-7 bannerLargep">IS SOMETHING BOTHERING YOU? ARE YOU FEELING LONELY?<br/>
			<span>THINK OF ME AS YOUR FRIEND WHO WILL BE THERE FOR YOU WHENEVER YOU WANT TO TALK.<br/>
			I WILL NOT JUDGE YOU!. YOU CAN BE COMPLETELY ANONYMOUS AND TALK TO ME</span></p>
			<form class="bannerLargeform">
				<input class="bannerLargeinput" type="text" placeholder="Choose a virtual name">
				<button class="banner-signup bannerLargebutton" type="button" data-toggle="" data-target=".signupForm">SIGNUP NOW</button>
				
			</form>
	</div>
		 <div class="banner-mobile hidden-md hidden-lg hidden-xs">
			<img class="hand bannerLargehand" src="images/icons/hand.png">
			<img class="sadPerson bannerLargesadPerson pull-left" src="images/icons/sad_person.png">
			<p class="col-md-7 bannerLargep">IS SOMETHING BOTHERING YOU? ARE YOU FEELING LONELY?<br/></p>
			
			<form class="bannerLargeform">
				
				<button class="banner-signup bannerLargebutton" type="button" data-toggle="" data-target=".signupForm">SIGNUP NOW</button>
				
			</form> 
	</div> 
	<div class="modal fade signupForm" tabindex="-1" role="dialog" aria-labelledby="signUpForm" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><img src="images/icons/cross.png"></button>
								<span class="modal-title">
									Hi,<br/>
									Don't worry, whatever it is.. we can fix it together. Get Started!
								</span>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-3 control-label">Username*</label>
										<div class="col-sm-8">
										  <input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group avatar">
										<label class="col-sm-3 control-label">Select Avatar*</label>
										<div class="col-sm-9">
											  <label>
											    <input type="radio" name="avatar" value="1" />
											    <img src="images/avatar/avatar1.png">
											  </label>
											  <label>
											    <input type="radio" name="avatar" value="2" />
											    <img src="images/avatar/avatar2.png">
											  </label>
											  <label>
											    <input type="radio" name="avatar" value="3" />
											    <img src="images/avatar/avatar3.png">
											  </label>
											  <label>
											    <input type="radio" name="avatar" value="4" />
											    <img src="images/avatar/avatar4.png">
											  </label>
											  <label>
											    <input type="radio" name="avatar" value="5" />
											    <img src="images/avatar/avatar5.png">
											  </label>
											  <label>
											    <input type="radio" name="avatar" value="6" />
											    <img src="images/avatar/avatar6.png">
											  </label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Password*</label>
										<div class="col-sm-8">
										  <input type="password" class="form-control">
										</div>
									</div>
									<div class="col-md-12 securityText">
										This will help you generate password, incase you forget
									</div>
									<div class="form-group">
										<div class="col-md-12 radio-button">
											<div class="col-md-3">
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
											Email
											</div>
											<div class="col-sm-8">
												<input type="email" class="form-control" id="inputEmail1">
											</div>
										</div>
										<div class="col-md-12 radio-button">
											<div class="col-md-4">
											<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
											Security Questions
											</div>
										</div>	
										<div class="col-md-12">
											<label for="inputPassword1" class="col-sm-3 control-label">Security Question</label>
											<div class="col-sm-8">
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="col-md-12 securityPass">
											<label class="col-sm-3 control-label">Security Password</label>
											<div class="col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-12">
											<label class="col-sm-3 control-label">Security Question</label>
											<div class="col-sm-8">
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="col-md-12 securityPass">
											<label for="securityanswer2" class="col-sm-3 control-label">Security Password</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="securityanswer2">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-10 col-sm-offset-1 disclaimer">
										  We are not a medical service. If you are  thinking about suicide, 
										  if you think you may be in a danger of yourself or to others, 
										  or if otherwise you have any medical emergency, 
										  please immediately call 100/101 and notify the police or emergency medical service. 
										  By signing up you are agreeing to Terms of service of D.O.S.T 
										</div>
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-lg">SIGNUP NOW</button>
							</div>
						</div>
					</div>
				</div>
				
<div class="feedback-container">
		<script src="http://d2g9qbzl5h49rh.cloudfront.net/static/feedback2.js?3.2.4674" type="text/javascript">
		  new JotformFeedback({
		     formId		: "43353828159462",
		     buttonText	: "FEEDBACK",
		     base		: "http://jotform.me/",
		     background	: "#F59202",
		     fontColor	: "#FFFFFF",
		     buttonSide	: "bottom",
		     buttonAlign	: "right",
		     type		: false,
		     width		: 700,
		     height		: 500
		  });
		</script>
</div>
