<#include "header.htm"/>

<#import "../macros/pagination.ftl" as pagination>
<#import "../macros/presentation.ftl" as presentation/>



<div class="container-fluid theme-default"> 
	<div class="container row-fluid">

			<div class="col-md-7">
				<div class="pageTop">
					<h2 class="pull-left pageHeading">Discussions</h2>
			

					<div class="pull-right">
						
							<#if !readonly && !replyOnly>
								<a class="pull_left icon_new_topic btn btn-primary btn-large login_btn" href="${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=insert&amp;forum_id=${forum.id}", "")}" rel="nofollow" >Create New Discussion</a>
							</#if>
		
							<div class=" pull_left " >
				  				<#assign paginationData><@pagination.doPagination action, forum.id/></#assign>
								${paginationData}
							</div>
						
					</div>
				</div>
				<div class="clearfix"></div>
			 
			<div class="forumline ">

				<!-- TOPICS LISTING -->
				<#list topics as topic>
					<#assign class1>class="<@presentation.row1Class topic/>"</#assign>
					<#assign class2>class="<@presentation.row2Class topic/>"</#assign>
					<#assign class3>class="<@presentation.row3Class topic/>"</#assign>

					<#if canApproveMessages>
						<#if topicsToApprove.containsKey(topic.id)>
							<#assign class1 = "class='bg_yellow'"/>
							<#assign class2 = class1/>
							<#assign class3 = class1/>
						</#if>
					</#if>

					<div class="bg_small_yellow discussion_topic ">
						<div class=" well media">	
							<a class="pull-left" href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">
								<img class="media-object profile_pic" src="http://localhost:8800/dost/avatar/${topic.postedBy.avatar}">
								<span class="owner_name">${topic.postedBy.username}</span>
							</a>
									
						 	<div ${class1} class="media-body">
							<#if topic.hasAttach() && attachmentsEnabled><img src="${contextPath}/templates/${templateName}/images/icon_clip.gif" align="middle" alt="[Clip]" /></#if>
								<h4 class="media-heading topictitle">
									<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}">
										<#if topic.vote>${I18n.getMessage("ForumListing.pollLabel")}</#if>
										<#if (topic.title?length == 0)>
											No Subject
										<#else>
											${topic.title?html}
										</#if>
									</a>
								

								<#if topic.paginate>
									<span class="gensmall">
									<br />
									<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>
									</span>
								</#if>
								
								<span ${class3}  >
									<#if (topic.lastPostTime?length > 0)>
										<span class="postdetails">${topic.lastPostTime}<br />
										<a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username}</a>
		
										<#assign startPage = ""/>
										<#if (topic.totalReplies + 1 > postsPerPage?number)>
											<#assign startPage = ((topic.totalReplies / postsPerPage?number)?int * postsPerPage?number) +"/"/>
										</#if>
		
										<a href="${JForumContext.encodeURL("/posts/list/${startPage}${topic.id}")}#${topic.lastPostId}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" border="0" alt="[Latest Reply]" /></a></span>
									</#if>
								</span>
							</h4>
							
							<p class="discussion_summary">
								${posts.get(topic.id)[0].text}
							</p>
							
						</div>

						<div ${class2} valign="middle"  align="center"><span class="postdetails">${topic.totalReplies}</span></div>
						

						<!--Total views , not required now
							 <div ${class2} ><span class="postdetails">${topic.totalViews}</span></div> 
						End of Total views , not required now -->
						

						<#if moderator && openModeration?default(false)>
							<div ${class2} valign="middle" align="center">
								<input type="checkbox" <#if topic.movedId != 0 && topic.forumId != forum.id>disabled="disabled"</#if> name="topic_id" value="${topic.id}" onclick="changeTrClass(this, ${topic_index});"/>
							</div>
						</#if>
					</div>
					
						 	<#assign count = posts.get(topic.id)?size/>
							<#if (count > 1) >
								<div class="offset1 well well-small discussionComments">
							 		<span>${posts.get(topic.id)[count-1].text}</span>
						 			<span class="time_taken pull-right">15 seconds ago</span>
								</div>
							</#if>	
								
							
						
					
				</div>
				</#list>
	</div>
</div>

<#include "bottom.htm"/>