
<#import "../macros/pagination.ftl" as pagination>
<#import "../macros/presentation.ftl" as presentation/>

<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tr>
		<ul>
				<!-- TOPICS LISTING -->
				<#list topics as topic>
				
					<li class="row1" width="80%">
						<span class="topictitle">
						<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}"><#if (topic.title?length == 0)>No Subject<#else>${topic.title?html}</#if></a>
						</span>

						<#if topic.paginate>
							<span class="gensmall">
							<br />
							<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>				
							</span>
						</#if>		
				</#list>	

		</ul>
						
		<!-- END OF TOPICS LISTING -->
			

		
	</tr>
</table>
