<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination/>
<#import "../macros/presentation.ftl" as presentation/>

<#assign canEditSomeMessage = false/>

<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/jquery.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/jquery.jeditable.pack.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post_show.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>

<#if logged>
	<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/watch.js?${startupTime}"></script>
</#if>

<script type="text/javascript">
<!--
<#include "js/karma.js">
<#include "js/utils.js"/>

<#if canRemove || isModerator || isAdmin>
	function confirmDelete(postId)
	{
		if (confirm("${I18n.getMessage("Moderation.ConfirmPostDelete")}")) {
			var reason = prompt("${I18n.getMessage("ModerationLog.changeReason")}");

			if (reason == null || reason == "") {
				alert("${I18n.getMessage("ModerationLog.reasonIsEmpty")}");
				return false;
			}
			else {
				var link = document.getElementById("delete" + postId);
				link.href += "&log_description=" + encodeURIComponent(reason) + "&log_type=1";
			}

			return true;
		}
		
		return false;
	}
</#if>

-->
</script>

<#if moderator>
	<script type="text/JavaScript" src="${JForumContext.encodeURL("/js/list/moderation")}"></script>
</#if>
<div class="container-fluid theme-default"> 
	<div class="container row-fluid">
		<div class="col-md-7">
		
					<div class="pageTop">
						<div class="pull-left breadcrumbContainer">
							<a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">&larr; Back to all Discussions</a>
						</div>
						
					
						<#if !readonly>
						<div class="pull-right">
						</#if>
							<#if topic.status == STATUS_LOCKED>
								<span class="icon_reply_locked"><img src="${contextPath}/images/transp.gif" alt="" /></span>
							<#else>
								<#if !readonly>
									<a class="pull_left icon_new_topic btn btn-primary btn-large login_btn" href="${JForumContext.encodeURL("/posts/reply/${start}/${topic.id}")}" rel="nofollow" >Post Reply</a>
								<#else>
									<#assign colspan = "2"/>
								</#if>
							</#if>
						</div>
						<#if isModerator || isAdmin>
							<form class="pull-right" action="${JForumContext.encodeURL("/jforum")}" method="post" name="formModeration" id="formModeration">
								<input type="hidden" name="action" value="doModeration" />
								<input type="hidden" name="module" value="moderation" />
								<input type="hidden" name="returnUrl" value="${JForumContext.encodeURL("/${moduleName}/${action}/${start}/${topic.id}")}" />
								<input type="hidden" name="forum_id" value="${topic.forumId}" />
								<input type="hidden" name="topic_id" value="${topic.id}" />
								<input type="hidden" name="log_type" value="0"/>
								<input type="hidden" name="log_description">
								<input type="hidden" id="moderationTodo" />
			
								<@presentation.moderationImages/>
							</form>
						</#if>
						<div class="clearfix"></div>
					</div>

					
					<div><#assign paginationData><@pagination.doPagination "list", topic.id/></#assign>${paginationData}</div>
					
		
					<div class="discussions_detail_full responses details_box">
						 <!-- End of don't know where helpful
						 <#if poll?exists>
							<tr>
								<td class="cathead cattitle" align="center" colspan="2" nowrap="nowrap" width="100%">${I18n.getMessage("PostShow.pollTitle")}</td>
							</tr>
							<tr>
								<td class="row1" colspan="2" align="center">
									<#if (poll.open && canVoteOnPoll && !request.getParameter("viewResults")?exists)>
										<form action="${JForumContext.encodeURL("/jforum")}" method="post">
											<input type="hidden" name="action" value="vote" />
											<input type="hidden" name="module" value="${moduleName}" />
											<input type="hidden" name="poll_id" value="${poll.id}" />
											<input type="hidden" name="topic_id" value="${topic.id}" />
											<div class="poll">
												<span class="strong">${poll.label?html}</span>
												<table class="poll">
												<#list poll.options as option>
													<tr>
														<td><input type="radio" name="poll_option" value="${option.id}">${option.text?html}</input></td>
													</tr>
												</#list>
												</table>
												<input type="submit" value="${I18n.getMessage("PostShow.pollVote")}"></input><br />
												<span class="gensmall" align="center"><a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=list&amp;topic_id=${topic.id}&amp;viewResults=true", "")}">${I18n.getMessage("PostShow.showPollResults")}</a></span>
											</div>
										</form>
									<#else>
										<@presentation.renderPoll poll/>
									</#if>
								</td>
							</tr>
						</#if>
						 End of don't know where helpful -->
						
		
						<!-- POST LISTING --> 
						
						<#assign rowColor = ""/>
						<#list posts as post>
							<#if post_index % 2 == 0>
								<#assign rowColor = "row1">
							<#else>
								<#assign rowColor = "row2">
							</#if>
			
							<#assign user = users.get(post.userId)/>
							<#assign canEditCurrentMessage = (post.canEdit && topic.status != STATUS_LOCKED) || moderatorCanEdit/>
							
							<!-- Username -->
							<#assign rowspan = "3"/>
							<#assign useSignature = (user.attachSignatureEnabled && user.signature?exists && user.signature?length > 0 && post.isSignatureEnabled())/>
	
							<#if useSignature>
								<#assign rowspan = "3"/>
							<#else>
								<#assign rowspan = "2"/>
							</#if>
							<div class="each_interaction media">
								<div class="clearfix"></div>
								<#if canRemove>
									<a class="pull-right"  href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=delete&amp;post_id=${post.id}&amp;start=${start}","")}" id="delete${post.id}" onclick="return confirmDelete(${post.id});">Delete</a>
									<span class="pull-right"> | </span>
								</#if>
								
								<#if (canEditCurrentMessage)>
									<a class="pull-right" href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=edit&amp;post_id=${post.id}&amp;start=${start}","")}" rel="nofollow" class="icon_edit">Edit</a>  
								</#if>
								
																
								<#include "post_show_user_inc.htm"/>
								
								<!-- Message -->
								<div class="media-body"  id="post_text_${post.id}">
									
									<#if canEditCurrentMessage>
										<#assign canEditSomeMessage = true/>
										<div class="edit_area" id="${post.id}">${post.text}</div>
									<#else>
										${post.text}
									</#if>
									
									<!-- Attachments -->
									<#if post.hasAttachments() && (canDownloadAttachments || attachmentsEnabled)>
										<#assign attachments = am.getAttachments(post.id, post.forumId)/>
		
										<#include "post_show_attachments_inc.htm"/>
									</#if>
		
									<#if (post.editCount > 0) && post.editTime?exists>
										<#if post.editCount == 1>
											<#assign editCountMessage = "PostShow.editCountSingle"/>
										<#else>
											<#assign editCountMessage = "PostShow.editCountMany"/>
										</#if>
										
										<p><i><span class="gensmall">${I18n.getMessage(editCountMessage, [post.editCount, post.editTime?datetime?string])}</span></i></p>
									</#if>
								</div>
								<#if useSignature>
									<div class="${rowColor}"><span class="gensmall">${user.signature}</span></div>
								</#if>
					
								<!-- 
								<div class="${rowColor}">
									<#include "post_show_user_profile_inc.htm"/>					
								</div>
								 -->
								
								<!-- Include for time taken -->
								<#include "post_show_action_buttons_inc.htm"/>
								<div class="clearfix"></div>
						</div>
						</#list>
						
						<!-- END OF POST LISTING -->
					</div>
				
					
					
					<#if (logged || anonymousPosts) && topic.status != STATUS_LOCKED && !readonly>
					<div>
						
						<script type="text/javascript">
						function newCaptcha()
						{
							document.getElementById("captcha_img").src = "${contextPath}/jforum${extension}?module=captcha&action=generate&timestamp=" + new Date().getTime();
						}
						
						function activateQuickReply()
						{
							$("#captcha_img").attr("src", "${JForumContext.encodeURL("/captcha/generate/${timestamp}")}");
							$("#quickReply").slideToggle('slow', function() {
								window.scrollBy(0, 1000);
							});
						}
	
						function validatePostForm(f)
						{
							if (f.message.value.replace(/^\s*|\s*$/g, "").length == 0) {
								alert("${I18n.getMessage("PostForm.textEmpty")}");
								f.message.focus();
							
								return false;
							}
						
							$("#icon_saving").css("display", "inline");
							$("#btnSubmit").attr("disabled", "disabled").val("${I18n.getMessage("PostForm.saving")}...");
						
							return true;
						}
						-->
						</script>
	
						
						<form action="${JForumContext.encodeURL("/jforum")}" method="post" name="post" id="post" onsubmit="return validatePostForm(this);" enctype="multipart/form-data" accept-charset="${encoding}">
							<input type="hidden" name="action" value="insertSave" />
							<input type="hidden" name="module" value="posts" />
							<input type="hidden" name="forum_id" value="${forum.id}" />
							<input type="hidden" name="start" value="${start?default("")}" />
							<input type="hidden" name="topic_id" value="${topic.id}" />
							<input type="hidden" name="disable_html" value="1" />
							<input type="hidden" name="quick" value="1" />
		
							<!-- <div>
								<img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" align="middle" alt="Message" />
								<span class="nav"><a href="javascript:activateQuickReply()">${I18n.getMessage("PostForm.quickReply")}</a></span>
							</div>
							 -->
							<p  id="quickReply">
								<label>Quick Reply</label>
								<textarea class="form-control post" name="message" onkeyup="enterText(this);" onclick="enterText(this);" onselect="enterText(this);" onblur="leaveText();"></textarea>
								<#if needCaptcha?default(false)>
									<img border="0" align="middle" id="captcha_img"/>
									<span class="gensmall">${I18n.getMessage("User.captchaResponse")}</span>
									<input type="text" class="post" style="width: 80px; font-weight: bold;" maxlength="25" name="captcha_anwser" /> 
									<span class="gensmall">${I18n.getMessage("User.hardCaptchaPart1")} <a href="#newCaptcha" onClick="newCaptcha()"><b>${I18n.getMessage("User.hardCaptchaPart2")}</b></a></span>
								</#if>
								
								<input type="submit" id="btnSubmit" value="Post Reply" class="btn btn-primary btn-large pull-right" />
								<img src="${contextPath}/images/transp.gif" id="icon_saving">
							</p>
							<div class="clearfix"></div>
						</form>
						
	
							
					</#if>
					
				</div>
		
					<!-- don't know where helpful  
					<table cellspacing="0" cellpadding="0" width="100%" border="0">
						<tr>
							<td align="left" valign="top" class="gensmall">
								<#if logged>
									<#if bookmarksEnabled>
										<a href="javascript:addBookmark(2, ${topic.id});"><img src="${contextPath}/templates/${templateName}/images/icon_bookmark.gif" align="middle"  alt="XML" />&nbsp;${I18n.getMessage("Bookmarks.addTo")}</a>
										<br>
									</#if>
								
									<#if !watching>
										<#assign watchMessage = I18n.getMessage("PostShow.watch")/>
										<a href="#watch" onClick="watchTopic('${JForumContext.encodeURL("/posts/watch/${start}/${topic.id}")}', '${I18n.getMessage("PostShow.confirmWatch")}');">
									<#else>
										<#assign watchMessage = I18n.getMessage("PostShow.unwatch")/>
										<a href="${JForumContext.encodeURL("/posts/unwatch/${start}/${topic.id}")}">
									</#if>
									<img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" alt="Watch" />&nbsp;${watchMessage}</a>
								</#if>
							</td>Disuc
							<td align="right"><@presentation.forumsComboTable/></td>
						</tr>
					</table>
					End of don't know where helpful -->
		</div>
	</div>
</div>
<a name="quick"></a>

<script type="text/javascript">
$(document).ready(function() {
	
	limitURLSize();

	<#if moderatorCanEdit || canEditSomeMessage>
		$(".edit_area").editable("${contextPath}/jforum${extension}?module=ajax&action=savePost", {
			submit: '${I18n.getMessage("Update")}',
			cancel: '${I18n.getMessage("cancel")}',
			type: 'textarea',
			tooltip: '${I18n.getMessage("PostShow.doubleClickEdit")}',
			rows: 15,
			width: '100%',
			event: 'dblclick',
			indicator: "<img src='${contextPath}/templates/${templateName}/images/indicator.gif'>",
			postload: '${contextPath}/jforum${extension}?module=ajax&action=loadPostContents',
			cssclass: 'inlineedit',
			loadtext: '${I18n.getMessage("PostShow.loading")}...',
			beforesubmit: function(submitdata) { 
				<#if moderationLoggingEnabled>
					var message = prompt("${I18n.getMessage("ModerationLog.changeReason")}");

					if (message == null || message == "") {
						alert("${I18n.getMessage("ModerationLog.reasonIsEmpty")}");
						return false;
					}
					else {
						submitdata["log_description"] = message;
						submitdata["log_type"] = 2;
					}
				</#if>

				return true;
			}
		}, function(s) {
			<#if hasCodeBlock>
				dp.sh.HighlightAll('code');
			<#else>
				if (s.indexOf("name=\"code\"") > -1) {
					document.location.reload(true);
				}
			</#if>
		});
	</#if>
	
});

</script>
<script>
	$( document ).ready(function() {
			$(".each_interaction:first-child .media-body").prepend('<h4 class="media-heading"> ${pageTitle?default("JForum")?html} </h4>');
	});
</script>
<#include "bottom.htm"/>